body {
    background-color: black; /* Fondo negro para la atmósfera oscura */
    color: white; /* Texto blanco para contrastar */
    font-family: 'Courier New', Courier, monospace; /* Fuente de estilo antiguo */
}

#center-box {
    text-align: center;
    margin-top: 100px;
}

.hidden {
    display: none; /* Oculta elementos cuando es necesario */
}

.section {
    border: 2px solid white; /* Borde blanco para las secciones */
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    border-radius: 5px; /* Bordes redondeados */
}

#hiddenContent {
    margin-top: 20px; /* Espacio superior para el contenido revelado */
}
